<!DOCTYPE HTML>
<html>
    <head>
        <title>History</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript" src="/javascripts/timeline.js"></script>
        <link rel="stylesheet" type="text/css" href="http://almende.github.io/chap-links-library/js/timeline/timeline.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <style>
            body {
                font-family: verdana, sans, arial;
                font-size: 10pt;
            }
            div.timeline-navigation-delete {
                background: url('') no-repeat center;
            }
        </style>
        <script type="text/javascript">
            google.load("visualization", "1");

            // Set callback to run when API is loaded
            google.setOnLoadCallback(drawVisualization);

            var timeline;
            var data;
            function getSelectedRow() {
                var row = undefined;
                var sel = timeline.getSelection();
                if (sel.length) {
                    if (sel[0].row != undefined) {
                        row = sel[0].row;
                    }
                }
                return row;
            }

            // Called when the Visualization API is loaded.
            function drawVisualization() {
                // Create and populate a data table.
                data = new google.visualization.DataTable();
                data.addColumn('datetime', 'start');
                data.addColumn('datetime', 'end');
                data.addColumn('string', 'content');
                var dataArray = [];
                <% allData.forEach(function(item) {%>
                    console.log("items : " + "<%= item.contenttype%>" + ", <%= item.id%>");
                    dataArray.push([new Date(<%= item.starttime%>),,'<img src="<%= item.content %>" onclick="testdiv(\'<%= item.contenttype %>\', <%= item.id %>)" style="width:64px; height:64px;">']);
                <% }) %>
                data.addRows(dataArray);
                // specify options
                var options = {
                    width:  "100%",
                    height: "350px",
                    //height: "auto",
                    editable: true,   // enable dragging and editing items
                    //axisOnTop: true,
                    style: "box"
                };

                // Instantiate our timeline object.
                timeline = new links.Timeline(document.getElementById('mytimeline'), options);

                // Add event listeners

                google.visualization.events.addListener(timeline, 'select', onselect);
                google.visualization.events.addListener(timeline, 'change', onchange);
                google.visualization.events.addListener(timeline, 'add', onadd);
                google.visualization.events.addListener(timeline, 'edit', onedit);
                google.visualization.events.addListener(timeline, 'delete', ondelete);
                google.visualization.events.addListener(timeline, 'rangechange', onrangechange);
                google.visualization.events.addListener(timeline, 'rangechanged', onrangechanged);

                // Draw our timeline with the created data and options
                timeline.draw(data);
                onrangechange();
            }

            // Make a callback function for the select item
            var onselect = function (event) {
                var row = getSelectedRow();

                if (row != undefined) {
                    document.getElementById("info").innerHTML += "item " + row + " selected<br>";
                    // Note: you can retrieve the contents of the selected row with
                    //       data.getValue(row, 2);
                }
                else {
                    document.getElementById("info").innerHTML += "no item selected<br>";
                }
            };

            // callback function for the change item
            var onchange = function () {
                var row = getSelectedRow();
                document.getElementById("info").innerHTML += "item " + row + " changed<br>";
            };

            // callback function for the delete item
            var ondelete = function () {
                var row = getSelectedRow();
                document.getElementById("info").innerHTML += "item " + row + " deleted<br>";
            };

            // callback function for the edit item
            var onedit = function () {
                var row = getSelectedRow();
                document.getElementById("info").innerHTML += "item " + row + " edit<br>";
                var content = data.getValue(row, 2);
                var newContent = prompt("Enter content", content);
                if (newContent != undefined) {
                    data.setValue(row, 2, newContent);
                }
                timeline.redraw();
            };

            // callback function for the add item
            var onadd = function () {
                var row = getSelectedRow();
                document.getElementById("info").innerHTML += "item " + row + " created<br>";
                var content = data.getValue(row, 2);
                var newContent = prompt("Enter content", content);
                if (newContent != undefined) {
                    data.setValue(row, 2, newContent);
                    timeline.redraw();
                }
                else {
                    // cancel adding the item
                    timeline.cancelAdd();
                }
            };

            function onrangechange() {
                // adjust the values of startDate and endDate
                var range = timeline.getVisibleChartRange();
                document.getElementById('startDate').value = dateFormat(range.start);
                document.getElementById('endDate').value   = dateFormat(range.end);
            }

            function onrangechanged() {
                document.getElementById("info").innerHTML += "range changed<br>";
            }

            // adjust start and end time.
            function setTime() {
                if (!timeline) return;

                var newStartDate = new Date(document.getElementById('startDate').value);
                var newEndDate   = new Date(document.getElementById('endDate').value);
                timeline.setVisibleChartRange(newStartDate, newEndDate);
            }

            // set the visible range to the current time
            function setCurrentTime() {
                if (!timeline) return;

                timeline.setVisibleChartRangeNow();
                //onrangechange();
            }

            // Format given date as "yyyy-mm-dd hh:ii:ss"
            // @param datetime   A Date object.
            function dateFormat(date) {
                var datetime =   date.getFullYear() + "-" +
                        ((date.getMonth()   <  9) ? "0" : "") + (date.getMonth() + 1) + "-" +
                        ((date.getDate()    < 10) ? "0" : "") +  date.getDate() + " " +
                        ((date.getHours()   < 10) ? "0" : "") +  date.getHours() + ":" +
                        ((date.getMinutes() < 10) ? "0" : "") +  date.getMinutes() + ":" +
                        ((date.getSeconds() < 10) ? "0" : "") +  date.getSeconds();
                return datetime;
            }

            function testdiv(contenttype,id){
                var link = "/specific/type=" + contenttype + "/position=" + id;
                $.get(link, function(data,status){
                    if(data.Type == "diagnosis"){
                        document.getElementById("detail").style.display = "none";
                        document.getElementById("show").style.backgroundColor = "#00CC33";
                        document.getElementById("show").innerHTML = "<strong>Patient_id :</strong>" + data.Patient_id + "<br>" + "<strong>Position_id :</strong>" + data.Position_id+ "<br>" + "<strong>ICD_id :</strong>" + data.ICD_id+ "<br>" + "<strong>Severity :</strong>" + data.Severity+ "<br>" + "<strong>Clinical_note :</strong>" + data.Clinical_note;
                    }
                    if(data.Type == "treatment"){
                        document.getElementById("detail").style.display = "none";
                        document.getElementById("show").style.backgroundColor = "blue";
                        document.getElementById("show").innerHTML = "<strong>Patient_id :</strong>" + data.Patient_id + "<br>" + "<strong>Position_id :</strong>" + data.Position_id+ "<br>" + "<strong>Treatment Name :</strong>" + data.Treatment_name + "<br>" + "<strong>Clinical_note :</strong>" + data.Clinical_note;
                    }
                    if(data.Type == "medication"){
                        document.getElementById("detail").style.display = "none";
                        document.getElementById("show").style.backgroundColor = "orange";
                        document.getElementById("show").innerHTML = "<strong>Patient_id :</strong>" + data.Patient_id + "<br>" + "<strong>Position_id :</strong>" + data.Position_id+ "<br>" + "<strong>Medication Name :</strong>" + data.Medication_name+ "<br>" + "<strong>Dosage :</strong>" + data.Dosage+ "<br>" + "<strong>Frequency :</strong>" + data.Frequency+ "<br>" + "<strong>Clinical_note :</strong>" + data.Clinical_note;
                    }
                    if(data.Type == "bloodtest"){
                        window.open("http://127.0.0.1:3000/bloodtest","_self");
                        /*
                        document.getElementById("detail").style.display = "none";
                        document.getElementById("show").style.backgroundColor = "red";
                        document.getElementById("show").innerHTML = "<strong>Patient_id :</strong>" + data.Patient_id + "<br>" + "<strong>Clinical_note :</strong>" + data.Clinical_note;
                        */
                    }
                    if(data.Type == "scanning"){
                        document.getElementById("detail").style.display = "none";
                        document.getElementById("detail").style.display = "block";
                        document.getElementById("show").style.backgroundColor = "#00BFFF";
                        document.getElementById("show").innerHTML = "<strong>Patient_id :</strong>" + data.Patient_id + "<br>" + "<strong>Position_id :</strong>" + data.Position_id+ "<br>"+ "<strong>Clinical_note :</strong>" + data.Clinical_note;
                        document.getElementById("scanning").src= data.Image_Url;
                    }
                });
            }

            function displayAllHistory(){
                window.open("http://127.0.0.1:3000/history/type=all/position=0","_self");
            }

            function displaySkeletalHistory(){
                window.open("http://127.0.0.1:3000/history/type=all/position=Skeleton","_self");
            }

            function displayMuscularHistory(){
                window.open("http://127.0.0.1:3000/history/type=all/position=Muscular","_self");
            }

            function displayCardiovascularHistory(){
                window.open("http://127.0.0.1:3000/history/type=all/position=Cardiovascular","_self");
            }

            function displayDigestiveHistory(){
                window.open("http://127.0.0.1:3000/history/type=all/position=Digestive","_self");
            }

            function displayNervousHistory(){
                window.open("http://127.0.0.1:3000/history/type=all/position=Nervous","_self");
            }

            function displayAllDiagnosis() {
                window.open("http://127.0.0.1:3000/history/type=diagnosis/position=0","_self");
            }

            function displayAllTreatment() {
                window.open("http://127.0.0.1:3000/history/type=treatment/position=0","_self");
            }

            function displayAllMedication() {
                window.open("http://127.0.0.1:3000/history/type=medication/position=0","_self");
            }

            function displayAllScanning() {
                window.open("http://127.0.0.1:3000/history/type=scanning/position=0","_self");
            }
            function displayAllBloodTest() {
                window.open("http://127.0.0.1:3000/history/type=bloodtest/position=0","_self");
            }

            function displayBack() {
                window.open("http://127.0.0.1:3000/together/together","_self");
            }
        </script>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-1 text-center">
                            <div class = "row">
                                <br><button type="button" class="btn btn-success" onclick="displayAllHistory()" style="background-color:#00CED1;">All Together</button>
                            </div>
                            <div class = "row">
                                <br><img src="/images/Male_together.png" style=" border:solid; border-color:green; width:64px; height:128px;" onclick="displayAllHistory();">
                            </div>
                        </div>
                        <div class="col-sm-1 text-center">
                            <div class = "row">
                                <br><button type="button" class="btn btn-success" onclick="displaySkeletalHistory()" style="background-color:#FF0033;">Skeletal</button>
                            </div>
                            <div class = "row">
                                <br><img src="/images/Male_Skeleton.png" style=" border:solid; border-color:green; width:64px; height:128px;" onclick="displaySkeletalHistory();">
                            </div>
                        </div>
                        <div class="col-sm-1 text-center">
                            <div class = "row">
                                <br><button type="button" class="btn btn-success" onclick="displayMuscularHistory()" style="background-color:#6666FF;">Muscular</button>
                            </div>
                            <div class = "row">
                                <br><img src="/images/Male_Muscular.png" style=" border:solid; border-color:green; width:64px; height:128px;" onclick="displayMuscularHistory();">
                            </div>
                        </div>
                        <div class="col-sm-1 text-center">
                            <div class = "row">
                                <br><button type="button" class="btn btn-success" onclick="displayCardiovascularHistory()" style="background-color:#CCFF33;">Cardiovascular</button>
                            </div>
                            <div class = "row">
                                <br><img src="/images/Male_Cardiovascular.png" style=" border:solid; border-color:green; width:64px; height:128px;" onclick="displayCardiovascularHistory();">
                            </div>
                        </div>
                        <div class="col-sm-1 text-center">
                            <div class = "row">
                                <br><button type="button" class="btn btn-success" onclick="displayDigestiveHistory()" style="background-color:#00CC33;">Digestive</button>
                            </div>
                            <div class = "row">
                                <br><img src="/images/Male_Digestive.png" style=" border:solid; border-color:green; width:64px; height:128px;" onclick="displayDigestiveHistory()">
                            </div>
                        </div>
                        <div class="col-sm-1 text-center">
                            <div class = "row">
                                <br><button type="button" class="btn btn-success" onclick="displayNervousHistory()" style="background-color:#FF66FF;">Nervous</button>
                            </div>
                            <div class = "row">
                                <br><img src="/images/Male_Nervous.png" style=" border:solid; border-color:green; width:64px; height:128px;" onclick="displayNervousHistory()">
                            </div>
                        </div>
                        <div class="col-sm-1 text-center">
                            <div class = "row">
                                <br><button type="button" class="btn btn-success" onclick="displayAllDiagnosis()">Diagnosis</button>
                            </div>
                            <div class = "row">
                                <br><img src="/images/diagnosis.jpg" style=" border:solid; border-color:green; width:64px; height:64px;" onclick="displayAllDiagnosis();">
                            </div>
                        </div>
                        <div class="col-sm-1 text-center">
                            <div class = "row">
                                <br><button type="button" class="btn btn-primary" onclick="displayAllTreatment()">Treatment</button>
                            </div>
                            <div class = "row">
                                <br><img src="/images/treatment.jpg" style="border:solid; border-color:darkblue; width:64px; height:64px;" onclick="displayAllTreatment()">
                            </div>
                        </div>
                        <div class="col-sm-1 text-center">
                            <div class = "row">
                                <br><button type="button" class="btn btn-warning" onclick="displayAllMedication()">Medication</button>
                            </div>
                            <div class = "row">
                                <br><img src="/images/medication.jpg" style="border:solid; border-color:darkorange; width:64px; height:64px;" onclick="displayAllMedication()">
                            </div>
                        </div>
                        <div class="col-sm-1 text-center">
                            <div class = "row">
                                <br><button type="button" class="btn btn-info" onclick = "displayAllScanning()">Scanning</button>
                            </div>
                            <div class = "row">
                                <br><img src="/images/scanning.jpg" style="border:solid; border-color:cornflowerblue; width:64px; height:64px;" onclick = "displayAllScanning()">
                            </div>
                        </div>
                        <div class="col-sm-1 text-center">
                            <div class = "row">
                                <br><button type="button" class="btn btn-danger" onclick = "displayAllBloodTest()">Blood Test</button>
                            </div>
                            <div class = "row">
                                <br><img src="/images/bloodtest.jpg" style="border:solid; border-color:red; width:64px; height:64px;" onclick = "displayAllBloodTest()">
                            </div>
                        </div>
                        <div class="col-sm-1 text-center">
                            <div class = "row">
                                <br><button style="background-color: chartreuse" type="button" class="btn btn-default" onclick="displayBack()">Back</button>
                            </div>
                            <div class = "row">
                                <br><img src="/images/return.jpg" style="border:solid; border-color:red; width:64px; height:64px;" onclick="displayBack()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <br>
                    <p>
                        Starttime: <input type="text" id="startDate" value="">
                        Endtime:   <input type="text" id="endDate" value="">
                        <input type="button" id="setRange" value="Set" onclick="setTime();">
                        <input type="button" id="setCurrentTime" value="Current time" onclick="setCurrentTime();">
                    </p>
                    <p id = "show" style = "background-color: #00B7FF"></p>
                </div>
                <div class="col-sm-6">
                    <div id="detail" style="display:none">
                        <img id="scanning" src="" style = "display: inline; margin-left: 270px; margin-top:-50px; width:200px; height:200px;"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <br>
                    <div id="mytimeline"></div>
                    <br>
                    <!-- Information about where the used icons come from -->
                    <div id="info"></div>
                </div>
            </div>
        </div>
    </body>
</html>
